{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Add New Product</h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary btn-block" type="submit" value="Add Product"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
