{% extends 'base.html' %}

{% block content %}

<h1>Student Info</h1>

<h4>Name: </h4>
<p>{{ student_info.nama_mahasiswa }}</p>
<h4>Class: </h4>
<p>{{ student_info.class }}</p>


<h1>Minecraft Inventory</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th> <!-- Kolom baru untuk tombol aksi -->
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td> 
            <td>
                <!-- Tombol untuk meningkatkan dan mengurangi jumlah serta menghapus produk -->
                <a href="{% url 'main:increase_amount' product.id %}">+</a>
                <a href="{% url 'main:decrease_amount' product.id %}">-</a>
                <a href="{% url 'main:delete_product' product.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}