{% extends 'base.html' %}

{% block content %}

<style>
    /* Menentukan style background dan mengatur ukuran dan posisi gambar */
    body {
        background-color: #e8e8e8;
    }
    
    /* Mengubah warna semua tombol menjadi satu warna */
    .btn {
        background-color: #1d8069; /* warna hijau sebagai contoh */
        color: white; 
    }
    
    .card {
        background-color: rgba(255, 255, 255, 0.8); /* kartu dengan background putih setengah transparan */
    }

    .card.last-card {
        background-color: #ee9d9d; 
        color: #3c2a2a; /* Mengubah warna teks menjadi hitam */
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Minecraft Inventory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action 2</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Action 3</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" step="0.01" class="form-control" id="price" name="price"></input>
                    </div>                    
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row mb-3">
        <div class="col">
            <h1>Student Info</h1>
            <h4>Name:</h4>
            <p>{{ student_info.nama_mahasiswa }}</p>
            <h4>Class:</h4>
            <p>{{ student_info.class }}</p>
        </div>
    </div>



    <div class="row mb-3">
        <div class="col">
            <h1>Minecraft Inventory</h1>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
    

    <div id="product_cards" class="row"></div>

    
    <div class="row mt-3">
        <div class="col">
            <a href="{% url 'main:create_product' %}" class="btn btn-success">Add New Item</a>
            <a href="{% url 'main:logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col">
            <h5>Sesi terakhir login: {{ last_login }}</h5>
        </div>
    </div>
</div>


<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        const productsContainer = document.getElementById("product_cards");
        productsContainer.innerHTML = "";  // clear previous content

        const products = await getProducts();
        
        products.forEach((item) => {
            const card = `
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">${item.fields.name}</h5>
                            <p class="card-text">Amount: ${item.fields.amount}</p>
                            <p class="card-text">Price: $${item.fields.price}</p>
                            <p class="card-text">Description: ${item.fields.description}</p>
                            <p class="card-text">Date Added: ${item.fields.date_added}</p>
                            <a href="edit-product/${item.pk}" class="btn btn-primary">Edit</a>
                            <button class="btn btn-danger" onclick="confirmDelete(${item.pk})">Delete</button>

                        </div>
                    </div>
                </div>`;
            
            productsContainer.innerHTML += card;
        });
    }

    refreshProducts()

    function addProduct() {

        
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        
        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct

    let productIdToDelete = null;  // global variable to keep track of which product to delete

    function confirmDelete(productId) {
        productIdToDelete = productId; // set the product id

        const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        deleteModal.show();
    }

    document.getElementById("confirmDeleteButton").addEventListener("click", function() {
        if (productIdToDelete) {
            deleteProduct(productIdToDelete);
            console.log("Trying to hide the modal...");
            const deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
            deleteModal.hide();
        }
    });


    function deleteProduct(productId) {

        fetch(`delete-product/${productId}/`, {
            method: "DELETE",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            }
        })
        .then((response) => {

            if (response.ok) {

                // After product is deleted, hide the modal
                $(document).ready(function(){
                    $('#confirmDeleteButton').on('click', function(){
                        $('#deleteModal').modal('hide');
                    });
                });



                const deleteModalInstance = new bootstrap.Modal(document.getElementById('deleteModal'));
                deleteModalInstance.hide();


                // Then refresh the products list
                refreshProducts();
            } else {
                throw new Error('Failed to delete product.');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }


</script>

{% endblock content %}
